name: Generate contribution snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: krcgoktug
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=%23a855f7&color_dots=%23ebedf0,%239be9a8,%2340c463,%2330a14e,%23216e39
            dist/github-contribution-grid-snake-dark.svg?color_snake=%23a855f7&color_dots=%23161b22,%230e4429,%23006d32,%2326a641,%2339d353

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
